@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

:root {
  --sea-green: #00bd7eff;
  --light-blue: #20a6d3ff;
  --dark-blue: #005983ff;
  --lilac: #c1cefeff;
  --pink: #e5c1bdff;
  --gray: #999;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  min-height: 100vh;
  background: #222;
  transition: color 0.5s, background-color 0.5s;
  margin: 0;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

.page-title {
  font-size: 4rem;
  color: var(--light-blue);
}

.credits {
  font-size: 0.75rem;
  color: var(--dark-blue);
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

@media (min-width: 600px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
